/* @import './theme.css'; */

.newlogocolorbtn {
  outline: none !important;
  color: white;
  padding: 5px 17px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  background-color: var(--color-logo);
}

.newlogocolorbtn:hover {
  background-color: #0b7aa3;
}

.newblackcolorbtn {
  outline: none !important;
  color: white;
  padding: 5px 17px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  border: 1px solid #6a6e79;
  background-color: #161d2f;
}

.newblackcolorbtn:hover {
  background-color: var(--color-logo);
}


.tabline {
  height: 1px;
  background-color: #2b2d32;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(194, 194, 194, 0.25);
  margin-top: 1px;
}

.Dashboard {
  font-family: var(--font-primary) !important;
}


body {
  scrollbar-width: thin !important;
  scrollbar-color: #6a6e79 #070d19 !important;
}


/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  width: 1px;
}

body::-webkit-scrollbar-track {
  background: #070d19;
  border-radius: 10px;
} 

body::-webkit-scrollbar-thumb {
  background-color: #6a6e79;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #6a6e79;
}